<ul class="nav nav-pills">
  <li role="presentatin" ng-class="name === data.selected ? 'active' : ''" ng-repeat="(name, details) in data.rooms">
    <a href="#/" ng-click="data.selected = name">
      {{name}}
      <span class="badge" ng-show="details.turnedOn">{{details.turnedOn}}</span>
    </a>
  </li>
</ul>

<div style="margin-top:10px">

  <div ng-repeat="(roomName, room) in data.rooms">
    
    <div class="input-group" ng-show="roomName == data.selected" ng-repeat="i in room.sw">
      <span class="input-group-addon">{{ i.name }}</span>
      <!-- <input type="checkbox" ng-model="i.value" switch> -->
      <!-- <switch ng-model="i.value" /> -->
      <input bs-switch type="checkbox" ng-change="i.change()" ng-default="{{i.state}}" ng-model="i.state">
      <span>{{i.state}}</span>
    </div>

  </div>

</div>
